/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #f8f9fa;
  padding-top: 60px; /* Ajustez la marge supérieure en fonction de votre barre de navigation si vous en avez une */
}

form {
  margin: 20px;
}

/* Style Bootstrap pour les boutons */
.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Style personnalisé pour les paragraphes */
p {
  font-size: 18px;
  color: #333;
}

/* Style Bootstrap pour les liens */
a {
  color: #007bff;
}

a:hover {
  color: #0056b3;
}
